@CHARSET "UTF-8";
#header{
	width: 100%;
	height: 50px;
	background-color: red;
}

#content{
	width: 100%;
	height: 300px;
	background-color: cyan;
}

#footer{
	width: 100%;
	height: 50px;
	background-color: yellow;
}